body {
    background-image: url(https://avatars0.githubusercontent.com/u/7613067?s=460&u=8f9aa97dedd074c3f5010393cd662b072e4762c3&v=4);
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    animation: spin 1.2s linear 1;
}

@keyframes spin {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 5px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    font-family: monospace;
    margin-bottom: 5px;
    padding: 5px;
    color: lime;
}

#main h1 span {
    font-style: italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}


.chat {
    /* padding: 5px;
    margin-bottom: 5px;
    background-color: #eee; */
    background-color: #03A9F4;
    color: white;
    text-align: left;

    float: center;
    width: 100%;
    border-radius: 5px;
    display: block;
    margin: 5px auto 0px auto;
    padding: 20px 10px;
    word-wrap: break-word;
}

.chat .username {
    /* color: white; */
    font-weight: bolder;
    padding: 0 0 10px 0;
}
.chat .username:hover {
    cursor: pointer;
    color: plum;
}

.chat:hover {
    background-color:  rgb(8, 141, 202);
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    position: relative;
    padding: 10px;
    width: 45%;
    float: right;
}

.friend {
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

